<ul class="nav navigation--group pl-sm-3" data-turbolinks="false">
  <li class="nav-item d-none d-lg-inline">
    <a href="https://library.unt.edu"
       rel="noopener"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Home"
       ga-event-label="<%= url_home %>"
       ga-event-value="1"
       aria-label="Libraries Home Page">
      Home</a></li>
  <li class="nav-item">
    <a href="https://library.unt.edu/about/"
       rel="noopener"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="About"
       ga-event-label="<%= url_about %>"
       ga-event-value="1"
       aria-label="About the libraries">
      About</a></li>
  <li class="nav-item">
    <a href="https://library.unt.edu/research/"
       rel="noopener"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Research"
       ga-event-label="<%= url_research %>"
       ga-event-value="1"
       aria-label="Research Overview">
      Research</a></li>
  <li class="nav-item">
    <a href="https://library.unt.edu/services/"
       rel="noopener"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Services"
       ga-event-label="<%= url_services %>"
       ga-event-value="1"
       aria-label="Services Listing">
      Services</a></li>
  <li class="nav-item">
    <a href="https://library.unt.edu/spaces/"
       rel="noopener"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Spaces"
       ga-event-label="<%= url_spaces %>"
       ga-event-value="1"
       aria-label="Library Spaces Listing">
      Spaces</a></li>
  <li class="nav-item">
    <a href="https://library.unt.edu/news/"
       rel="noopener"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="News"
       ga-event-label="<%= url_news %>"
       ga-event-value="1"
       aria-label="Library News and Announcements">
      News</a></li>
  <li class="nav-item">
    <a href="https://calendar.library.unt.edu/"
       rel="noopener"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Calendar"
       ga-event-label="<%= url_calendar %>"
       ga-event-value="1"
       aria-label="Library Calendar">
      Calendar</a></li>
  <li class="nav-item ml-auto">
    <a href="https://library.unt.edu/ask-us/"
       rel="noopener"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Ask Us"
       ga-event-label="<%= url_ask_us %>"
       ga-event-value="1"
       aria-label="Ask us your questions">
      Ask Us</a></li>
  <li class="nav-item">
    <a href="https://library.unt.edu/accounts-login/"
       rel="noopener"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Accounts Login"
       ga-event-label="<%= url_login %>"
       ga-event-value="1"
       aria-label="Log in to your catalog or illiad account">
      <span class="d-sm-none d-lg-inline">Accounts </span>Login</a></li>
</ul>
