{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="preload" href="{% static 'keeper/inherit/vendor/@fortawesome/fontawesome-pro/webfonts/fa-brands-400.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'keeper/inherit/vendor/@fortawesome/fontawesome-pro/webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'keeper/inherit/vendor/@fortawesome/fontawesome-pro/webfonts/fa-regular-400.woff' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'keeper/inherit/vendor/@fortawesome/fontawesome-pro/webfonts/fa-duotone-900.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'keeper/inherit/vendor/@fortawesome/fontawesome-pro/webfonts/fa-light-300.woff2' %}" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet"
          href="{% static 'keeper/inherit/vendor/@fortawesome/fontawesome-pro/css/all.min.css' %}?v=5.7.2"
          media="print"
          onload="this.media='all'; this.onload=null;">
{% endblock extrastyle %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
