{
  "FILENAME": "secrets.json",
  "SECRET_KEY": "",
  "DATABASES_NAME": "",
  "DATABASES_USER": "",
  "DATABASES_PASSWORD": "",
  "DATABASES_HOST": "",
  "DATABASES_PORT": "",
  "RECAPTCHA_PUBLIC_KEY": "",
  "RECAPTCHA_PRIVATE_KEY": "",
  "ALLOWED_HOSTS": []
}