<div class="sidebar sidebar--left col-sm-3 order-sm-1 order-xs-12 py-3">
  <div id="sidebar-data">
    <section>
      <h2 class="h5">About</h2>
      <ul id="left-nav-about" class="nav flex-column nav--sidebar mb-3">
        {% for link in BRANDING.SIDEBAR_LINKS %}
          <li class="nav-item">
            <a class="nav-link {% if link.label.lower == request.resolver_match.app_name.lower %}active" aria-current="page{% endif %}"
               href="{{ link.url }}"
               data-event-category="link - sidebar - left - navigation"
               data-event-action="{{ request.resolver_match.app_name }}"
               data-event-label="{{ link.label }}">
               {{ link.label }}<span class="sr-only">: Special Collections Department</span>
             </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
