<aside class="col-sm-4 col-sm-pull-8 panel-secondary-content hidden-print" role="complementary">
  <div class="region region-sidebar-first">
    <section id="block-menu-menu-special-collections" class="block block-menu clearfix">
      <!-- start editing content now -->
      <h2 class="block-title">Special Collections</h2>
      <ul class="menu nav">
        <li class="first leaf"><a href="https://www.library.unt.edu/special-collections" title="">Special Collections</a></li>
        <li class="leaf active-trail active"><a href="https://www.library.unt.edu/special-collections/our-collections" title="" class="active-trail active">Our Collections</a></li>
        <li class="leaf"><a href="https://www.library.unt.edu/services/special-collections/special-collections-research" title="">Research</a></li>
        <li class="leaf"><a href="https://www.library.unt.edu/special-collections/policies-forms" title="">Policies &amp; Forms</a></li>
        <li class="leaf"><a href="https://www.library.unt.edu/services/special-collections/special-collections-classroom-and-group-visits" title="">Classroom &amp; Group Visits</a></li>
        <li class="leaf"><a href="https://www.library.unt.edu/collections/special-collections/university-archive" title="">University Archive</a></li>
        <li class="leaf"><a href="https://www.library.unt.edu/microforms" title="">Microforms</a></li>
        <li class="leaf"><a href="https://www.library.unt.edu/preservation" title="">Preservation</a></li>
        <li class="last leaf"><a href="https://www.library.unt.edu/special-collections/keeper" title="">Keeper</a></li>
      </ul>
      <!-- end -->
    </section>
  </div>
</aside>