<header id="main-heading" class="hidden-print">
  <div id="top-navigation" class="hidden-xs" role="navigation">
    <div class="container">
      <div id="unt-navbar" class="col-sm-12">
        <ul class="nav navbar-nav">
          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> Information for... <span class="caret"></span> </a>
            <ul class="dropdown-menu audiences" role="menu">
              <!--<li><a href="/for/new-users" id="getting-started-new-users">New Users</a></li>-->
              <!--<li><a href="/for/distance-learning-students" id="getting-started-distance-learning">Distance Learning &amp; Off Campus Users</a></li>-->
              <!--<li class="divider"></li>-->
              <li><a href="https://www.library.unt.edu/graduate-students" id="getting-started-grads">Graduate Students</a></li>
              <li><a href="https://www.library.unt.edu/faculty" id="getting-started-faculty-staff">Faculty/Staff</a></li>
              <li><a href="https://www.library.unt.edu/community-visitors" id="getting-started-community-visitors">Community &amp; Visitors</a></li>
              <li class="divider"></li>
              <li><a href="https://www.library.unt.edu/services/services-persons-disabilities" id="getting-started-accessibility">Persons with Disabilities</a></li>
            </ul>
          </li>
          <li class="dropdown nav-item"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> UNT Links <span class="caret"></span> </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://my.unt.edu/" id="unt-sites-myunt">MyUNT</a></li>
              <li><a href="https://it.unt.edu/eagleconnect" id="unt-sites-eagle-connect">EagleConnect</a></li>
              <li><a href="https://learn.unt.edu/" id="unt-sites-blackboard">Blackboard</a></li>
              <li><a href="https://www.unt.edu/find-people-departments" id="unt-sites-directory">People &amp; Departments</a></li>
              <li><a href="https://maps.unt.edu/" id="unt-sites-maps">Maps</a></li>
              <li><a href="https://calendar.unt.edu/" id="unt-sites-calendars">Calendars</a></li>
              <li><a href="https://giving.unt.edu/" id="unt-sites-giving">Giving to UNT</a></li>
            </ul>
          </li>
          <li class="dropdown nav-item"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Other Library Sites <span class="caret"></span> </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://www.untdallas.edu/library" id="other-sites-unt-dallas-library">UNT Dallas Library</a></li>
              <li><a href="https://library.hsc.unt.edu/" id="other-sites-unt-health-science-center-library">UNT Health Science Library</a></li>
              <li><a href="https://lawschool.untsystem.edu/law-library" id="other-sites-unt-law-library">UNT Dallas Law Library</a></li>
              <li><a href="https://www.library.unt.edu/directory-other-libraries" id="other-sites-other-libraries">Other Libraries</a></li>
              <li class="divider"></li>
              <li><a href="https://iii.library.unt.edu/" id="other-sites-catalog">Library Catalog</a></li>
              <li><a href="https://unt.illiad.oclc.org/illiad/logon.html" id="other-sites-illiad">Interlibrary Loan &amp; Document Delivery (Illiad)</a></li>
              <li><a href="https://guides.library.unt.edu/" id="other-sites-libguides">Subject &amp; Course Guides</a></li>
              <li class="divider"></li>
              <li><a href="https://digital.library.unt.edu/" id="other-sites-digital-libraries">UNT Digital Libraries</a></li>
              <li><a href="https://texashistory.unt.edu/" id="other-sites-portal">The Portal to Texas History</a></li>
              <li class="divider"></li>
              <li><a href="https://findingaids.library.unt.edu" id="other-sites-finding-aids">Finding Aids</a></li>
              <li><a href="https://exhibits.library.unt.edu/" id="other-sites-exhibits">Exhibits</a></li>
              <li class="divider"></li>
              <li><a href="https://reservations.library.unt.edu/Web/" id="other-sites-study-room-reservations">Student Study Rooms Reservations</a></li>
              <li><a href="https://www.library.unt.edu/forms/room-reservations" id="other-sites-faculty-room-reservations">Faculty/Staff Room Reservations</a></li>
              <li><a href="https://iii.library.unt.edu/search/r" id="other-sites-course-reserves">Course Reserves</a></li>
              <li><a href="https://audioreserves.library.unt.edu/" id="other-sites-audio-reserves">Digital Audio Reserves</a></li>
              <li><a href="https://vod.library.unt.edu/" id="other-sites-video-on-demand">Video On Demand</a></li>
              <li class="divider">&nbsp;</li>
              <li><a href="https://untpress.unt.edu/" id="other-sites-unt-press">UNT Press</a></li>
              <li><a href="https://openaccess.unt.edu/" id="other-sites-open-access">Open Access @ UNT</a></li>
              <li><a href="https://blogs.library.unt.edu" id="other-sites-blogs">University Libraries' Scholarly Blogs</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div id="branding" class="header-main container hidden-xs" role="banner" style="padding:10px 0; background: none;">
    <h1 class="logo col-sm-8" id="site-name" style="margin:30px 0;">
      <a id="primary-library-logo" href="https://www.library.unt.edu" title="University Libraries: Home">University Libraries</a>
    </h1>
    <div id="unt" class="info col-sm-4" style="padding-right:0;">
      <a id="primary-unt-logo" class="pull-right" href="https://www.unt.edu" title="UN">
        <img style="width:200px;" src="https://webassets.unt.edu/unt-1890/images/est-1890-UNT-white.png" alt="UNT Lettermark" class="unt-lettermark img-responsive">
      </a>
    </div>
  </div>
</header>
<nav id="main-nav" role="navigation" class="hidden-print">
  <div class="container">
    {% include 'keeper/header/_main-links.html' %}
  </div>
</nav>