<div class="navbar-header">
      <div class="navbar-text navbar-brand-centered visible-xs-block"> <a id="site-name-mobile" class="btn btn-link" href="https://www.library.unt.edu" title="Home">UNT Libraries</a> </div>
      <div id="small-screen-search-toggle" class="btn-group visible-xs navbar-right"> <a class="dropdown-toggle btn btn-link" data-toggle="dropdown" href="#"> <i class="fa fa-search"></i> </a>
        <ul class="dropdown-menu" role="menu">
          <li><a id="mobile-search-dropdown-bento" href="https://www.library.unt.edu/search">Search All</a></li>
          <li><a id="mobile-search-dropdown-summon" href="https://untexas.summon.serialssolutions.com/#!/advanced">Online Articles</a></li>
          <li><a id="mobile-search-dropdown-catalog" href="https://iii.library.unt.edu">Books &amp; More</a></li>
          <li><a id="mobile-search-dropdown-databases" href="https://iii.library.unt.edu/search/y">Databases</a></li>
          <li><a id="mobile-search-dropdown-ejournals" href="https://iii.library.unt.edu/search/y#ejournals">e-Journals</a></li>
          <li><a id="mobile-search-dropdown-digital-collections" href="https://www.library.unt.edu/digital-collections">UNT Digital Collections</a></li>
          <li><a id="mobile-search-dropdown-libguides" href="https://guides.library.unt.edu/">Subject Guides</a></li>
          <li><a id="mobile-search-dropdown-this-site" href="https://www.library.unt.edu/search/google">This Website</a></li>
        </ul>
      </div>
      <button id="main-nav-toggle" class="navbar-toggle btn btn-success btn-sm navbar-left" type="button" data-toggle="collapse" data-target="#unt-primary-site-menu">MENU</button>
    </div>
    <div class="navbar-collapse collapse" id="unt-primary-site-menu" role="navigation">
      <div class="navbar-left">
        <ul class="menu nav navbar-nav"><li class="first leaf"><a href="https://www.library.unt.edu">Home</a></li>
          <li class="leaf"><a href="https://www.library.unt.edu/research" title="">Research</a></li>
          <li class="leaf"><a href="https://www.library.unt.edu/services" title="">Services</a></li>
          <li class="leaf"><a href="https://www.library.unt.edu/about" title="About">About</a></li>
          <li class="leaf"><a href="https://www.library.unt.edu/help" title="Help">Help</a></li>
          <li class="last leaf"><a href="https://www.library.unt.edu/news-events" title="">News &amp; Events</a></li>
        </ul>
      </div>
      <div class="navbar-right">
        <ul class="menu nav navbar-nav secondary">
          <li class="first leaf"><a href="https://www.library.unt.edu/ask-us" title="">Ask Us</a></li>
          <li class="last leaf"><a href="https://www.library.unt.edu/accounts-login" title="">Accounts Login</a></li>
        </ul>
      </div>
    </div>