.dropzone {
  border: none;
  background: none;

  &.dz-drag-hover {
    border: none;
  }
}

.dropzone-form {
  border: 2px dashed grey;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;

  &--hidden {
    display: none;
  }

  &__drag-hover {
    border-color: darken(#dddddd, 50%); // panel-default color
    background-color: #7AC143; // @unt_bright_green
  }

  &__message {
    text-align: center;
    cursor: inherit;

    & label {
      cursor: inherit;
    }
  }

  &__upload-progress {
    &--hidden {
      display: none;
    }
  }
}

.dropzone-template {
  display: none;

  &__data {
    padding-bottom: 10px;
  }

  &__description {
    textarea {
      width: 100%;
    }
  }

  &__error {
    .error {
      display: none;
    }
  }

  &__filename {
    font-weight: bold;
  }

  &__filename,
  &__filesize {
    font-size: 0.9rem;
  }

  &__remove {
    &--hidden {
      display: none;
    }
  }

  .file-progress {
    position: relative;
    height: 5px;
    bottom: 5px;
    margin: 0;

    &--hidden {
      display: none;
    }
  }
}
