@use 'sass:color';

.dropzone {
  border: none;
  background: none;

  &.dz-drag-hover {
    border: none;
  }
}

.dropzone-form {
  border: 2px dashed grey;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;

  &--hidden {
    display: none;
  }
}

  .dropzone-form__drag-hover {
    border-color: color.scale(#dddddd, $lightness: -50%); // panel-default color
    background-color: #7AC143; // @unt_bright_green
  }

.dropzone-form__upload-progress {

  &--hidden {
    display: none;
  }
}

.dropzone-form__message {
  text-align: center;
  cursor: inherit;

  & label {
    cursor: inherit;
  }
}

.dropzone-template {
  display: none;
}

.dropzone-template__data {
  padding-bottom: 10px;
}

.dropzone-template__remove {

  &--hidden {
    display: none;
  }
}

.dropzone-template__filename {
  font-weight: bold;
}

.file-progress {
  position: relative;
  height: 5px;
  bottom: 5px;
  margin: 0;

  &--hidden {
    display: none;
  }
}

.dropzone-template__description {

  textarea {
    width: 100%;
  }
}

.dropzone-template__error {

  .error {
    display: none;
  }
}
