<div class="wrapper--colophon">
  <section class="colophon  container-fluid">
    <h2 class="sr-only">Additional Links</h2>
    <div class="d-none d-sm-flex justify-content-center py-3  px-md-5">
      <p>
        <a class="btn btn-success"
           href="https://admissions.unt.edu"
           data-event-category="link - colophon"
           data-event-action="university"
           data-event-label="https://admissions.unt.edu"><span class="sr-only">UNT: </span>Apply now <i aria-hidden="true" class="fas fa-angle-right"></i></a>
        <a class="btn btn-success"
           href="https://tours.unt.edu"
           data-event-category="link - colophon"
           data-event-action="university"
           data-event-label="https://tours.unt.edu"><span class="sr-only">UNT: </span>Schedule a tour <i aria-hidden="true" class="fas fa-angle-right"></i></a>
        <a class="btn btn-success"
           href="https://admissions.unt.edu/requestinfo"
           data-event-category="link - colophon"
           data-event-action="university"
           data-event-label="https://admissions.unt.edu/requestinfo"><span class="sr-only">UNT: </span>Get more info <i aria-hidden="true" class="fas fa-angle-right"></i></a>
      </p>
    </div>
    <div class="text-center">
      <p><a href="https://www.unt.edu/disclaimer"
            data-event-category="link - colophon"
            data-event-action="university"
            data-event-label="https://www.unt.edu/disclaimer"><span class="sr-only">UNT: </span>Disclaimer</a>
       | <a href="https://www.unt.edu/ada"
           data-event-category="link - colophon"
           data-event-action="university"
           data-event-label="https://www.unt.edu/ada"><span class="sr-only">UNT: </span>AA/EOE/ADA</a>
       | <a href="https://www.unt.edu/privacy"
           data-event-category="link - colophon"
           data-event-action="university"
           data-event-label="https://www.unt.edu/privacy"><span class="sr-only">UNT: </span>Privacy</a>
       | <a href="https://policy.unt.edu/policy/14-005"
           data-event-category="link - colophon"
           data-event-action="university"
           data-event-label="https://policy.unt.edu/policy/14-005"><span class="sr-only">UNT: </span>Electronic Accessibility</a>
       | <a href="https://www.unt.edu/required-links"
           data-event-category="link - colophon"
           data-event-action="university"
           data-event-label="https://www.unt.edu/required-links"><span class="sr-only">UNT: </span>Required Links</a>
       | <a href="https://www.unt.edu"
           data-event-category="link - colophon"
           data-event-action="university"
           data-event-label="https://www.unt.edu">UNT Home</a>
       <!--noindex-->
        | <a data-toggle="tooltip"
            data-title="Provide site feedback"
            href="https://unt.az1.qualtrics.com/jfe/form/SV_1BRQnARsgKm8YUS"
            title="">Send Feedback</a>
      <!--/noindex-->
      </p>
    </div>
  </section>
</div>
<i id="spinner" style="display:none;" class="fas fa-spinner fa-spin" aria-hidden="true"></i>
<a id="to-top"
   href="#top"
   class="btn btn-success btn--top"
   data-event-category="link - top"
   data-event-action="page"
   data-event-label="{{ page.url }}"
   role="button">
  <i aria-hidden="true" class="fas fa-angle-up" data-fa-transform="grow-8 up-4"></i>
  <span style="display:block; margin-top:3px">top</span>
</a>
