{% load staticfiles %}
<footer id="main-footer">   <div id="footer-content">
  <div class="container">
    <div class="row" itemscope="" itemtype="https://schema.org/EducationalOrganization">
      <div class="footer-col col-md-3 col-sm-4">
        <div class="footer-col-inner">
          <h3 class="hidden-print">Locations &amp; Hours</h3>
          <div class="btn-group hidden-print">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Select Location <span class="caret"></span> </button>
            <ul class="dropdown-menu">
              <li><a href="https://www.library.unt.edu/location-hours/willis-library">Willis Library</a></li>
              <li class="divider"></li>
              <li><a href="https://www.library.unt.edu/location-hours/discovery-park-library">Discovery Park</a></li>
              <li><a href="https://www.library.unt.edu/location-hours/eagle-commons-librarys">Eagle Commons</a></li>
              <li><a href="https://www.library.unt.edu/location-hours/media-library">Media</a></li>
              <li class="divider"></li>
              <li><a href="https://www.library.unt.edu/location-hours/library-annex">Library Annex</a></li>
            </ul>
          </div>
          <hr class="hidden-print">
          <h3>Mail</h3>
          <div class="box box-dark box-border"> <span itemprop="name">University Libraries</span><br>
            <span itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress"> <span itemprop="streetAddress">1155 Union Circle #305190</span><br>
            <span itemprop="addressLocality">Denton</span> , <span itemprop="addressRegion">TX</span> <span itemprop="postalCode">76203-5017</span> </span>
          </div>
          <div itemprop="location">
            <div itemscope itemtype="https://schema.org/Place">
              <span itemprop="geo">
                <span itemscope itemtype="https://schema.org/GeoCoordinates">
                  <span property="latitude" content="33.210360"></span>
                  <span property="longitude" content="-97.149009"></span>
                </span>
              </span>
            </div>
           </div>
          </div>
          <!--//footer-col-inner-->
        </div>
        <!--//foooter-col-->
        <div id="government-logos" class="footer-col col-md-5 col-md-offset-1 col-sm-8 hidden-print">
          <div class="footer-col-inner">
            <h3>Partnerships</h3>
          </div>
          <div class="row">
            <div class="col-sm-2 col-xs-4"> <a id="footer-fdl" href="https://www.library.unt.edu/government-information-connection"><img src="{% static 'keeper/inherit/images/utility/fdl-library-blue.png' %}" alt="Federal Depository Logo"></a> </div>
            <p class="col-sm-8 col-xs-8 col-md-7 col-md-push-1 col-lg-8"> The University Libraries are a designated <a href="https://www.library.unt.edu/government-documents/us-federal-depository-library-program-fdlp">Federal Depository Library</a>. </p>
          </div>
          <div class="row">
            <div class="col-sm-2 col-xs-4"> <a id="footer-finl" href="https://guides.library.unt.edu/c.php?g=69972&p=452555"><img src="{% static 'keeper/inherit/images/utility/foundation-center.png' %}" alt="Funding Information Network Logo"></a> </div>
            <p class="col-sm-8 col-xs-8 col-md-7 col-md-push-1 col-lg-8"> The University Libraries are a <a href="https://guides.library.unt.edu/c.php?g=69972&p=452555">Funding Information Network partner</a> of the Foundation Center. </p>
          </div>
          <!--//footer-col-inner-->
        </div>
        <!--//foooter-col-->
        <div class="footer-col col-md-3 col-sm-12 hidden-print">
          <div class="footer-col-inner">
            <h3>Contact</h3>
            <p><i class="fa fa-phone"></i> <a id="footer-phone" itemprop="telephone" href="tel:9405652413">940.565.2413</a></p>
            <p><i class="fa fa-envelope"></i> <a id="asks-us" href="https://www.library.unt.edu/ask-us" title="Ask Us"> Research Questions</a></p>
            <p><i class="fa fa-group"></i> <a id="footer-staff-directory" href="https://www.library.unt.edu/staff-directory"  title="Find Someone">Staff Directory</a></p>
            <p><i class="fa fa-laptop"></i> <a id="footer-ask-tech" href="https://www.library.unt.edu/ask-us?forward=lib.support@unt.edu#email" title="Computer &amp; problem">Computer &amp; Technology Problems</a></p>
            <p><i class="fa fa-exclamation-triangle"></i> <a id="ask-building" href="https://www.library.unt.edu/ask-us?forward=Lib.Facilities@unt.edu#email" title="Facilities Problems">Facilities Problems</a></p>
          </div>
          <!--//footer-col-inner-->
        </div>
        <!--//foooter-col-->
      </div>
    </div>
  </div>
  <div id="bottom-bar" class="hidden-print">
    <div class="container">
      <div class="row">
        <ul role="menu" id="required-links" class=" list-inline list-unstyled col-md-9 col-sm-12 hidden-xs">
          <li><a id="footer-disclaimer" href="https://www.unt.edu/disclaimer">Disclaimer</a></li>
            <li><a id="footer-aaeoeada" href="https://www.unt.edu/ada">AA/EOE/ADA</a></li>
            <li><a id="footer-privacy" href="https://www.unt.edu/privacy">Privacy </a></li>
            <li><a id="footer-eapolicy" href="https://policy.unt.edu/policy/14-005">Electronic Accessibility</a></li>
            <li><a id="footer-texasonline" href="https://texas.gov/">State of Texas Online</a></li>
            <li><a id="footer-emergencyprep" href="https://emergency.unt.edu/">Emergency Preparedness</a></li>
            <li><a id="footer-sci" href="https://www.unt.edu/consumer-info">Student Consumer Information</a></li>
            <li><a id="footer-compliance" href="https://compliance.unt.edu/hotline">UNT Compliance Hotline</a></li>
            <li><a id="footer-unt" href="https://www.unt.edu">UNT Home</a></li>
        </ul>
        <ul role="menu" id="footer-social" class="social list-inline list-unstyled pull-right col-md-3 col-sm-12">
          <li><a id="footer-twitter" title="Follow the UNT Libraries on Twitter" href="https://twitter.com/UNT_Libraries" ><i class="fa fa-twitter"></i></a></li>
          <li><a id="footer-facebook" title="UNT Libraries Facebook Page" href="https://www.facebook.com/pages/UNT-Libraries/189997581023527?sk=wall" ><i class="fa fa-facebook"></i></a></li>
          <li><a id="footer-instagram" title="UNT Libraries on Instagram" href="https://www.instagram.com/unt_libraries" ><i class="fa fa-instagram"></i></a></li>
          <li><a id="footer-youtube" title="UNT Libraries YouTube Channel" href="https://www.youtube.com/channel/UCcbS9fXWKE1SpUTpl1sNB6Q/" ><i class="fa fa-youtube"></i></a></li>
          <li><a id="footer-newsletter" title="Subscribe to the UNT Libraries Email Newsletter" href="https://eepurl.com/Qrv_r" ><i class="fa fa-envelope"></i></a></li>
          <li class="row-end"><a id="footer-rss" title="UNT Libraries News RSS feed" href="https://www.library.unt.edu/news/rss" ><i class="fa fa-rss"></i></a></li>
        </ul>
        <!--//social-->
      </div>
      <!--[if (IE 8)|(IE 9)]>
        <div clas="row">
          <div class="col-xs-12">
            <div class="leading alert alert-warning">
                Hi there. We detected that you appear to be using an older version of Internet Explorer. Microsoft will begin <a rel="nofollow" href="http://blogs.msdn.com/b/ie/archive/2014/08/07/stay-up-to-date-with-internet-explorer.aspx">dropping support</a> for this version in the near future, and the UNT Libraries will likely do so also. Please <a rel="nofollow" href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">update to a newer version of IE</a>, or consider an alternative browser such as <a rel="nofollow" href="http://www.google.com/chrome/">Google's Chrome</a> or <a rel="nofollow" href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>.
            </div>
          </div>
        </div>
      <![endif]-->
    </div>
    <!--//container-->
  </div>
</footer>