<div class="wrapper--footer">
  <div id="main-footer" class="footer  container-fluid py-5 px-md-5">

    <div class="row">

      <div class="footer__lettermark d-none d-md-block col-md-3">
        <a href="https://www.unt.edu/"
           aria-label="U N T Home Site"
           data-event-category="link - footer - brand"
           data-event-action="university"
           data-event-label="https://www.unt.edu/">
          <img src = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
               width="254px"
               height="115px"
               data-src="/assets/images/branding/unt.stacked.green.svg" class="lazyload"
               alt="U N T Established 1890">{% comment %} Full Sized Banner {% endcomment %}
        </a>
      </div>

      <div class="footer__partnerships col-sm mx-4 px-4">
        <h3 class="sr-only">Partnerships</h3>
        <ul class="list-unstyled">
          <li class="media">
            <a id="footer-fdl"
               class="mr-3"
               href="https://www.unt.edu/government-information/"
               data-event-category="link - footer - logo"
               data-event-action="libraries"
               data-event-label="https://www.unt.edu/government-information/">
                <img class="lazyload"
                     width="75px"
                     height="75px"
                     src = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="/assets/images/branding/fdl-library-blue.png"
                     alt="Federal Depository"></a>
            <div class="media-body">The University Libraries are a designated
              <a href="https://www.unt.edu/government-information/"
                 data-event-category="link - footer - text"
                 data-event-action="libraries"
                 data-event-label="https://www.unt.edu/government-information/">Federal Depository Library</a>.</div>
          </li>
          <li class="media my-4">
            <a id="footer-finl"
               class="mr-3"
               href="https://guides.library.unt.edu/grants"
               data-event-category="link - footer - logo"
               data-event-action="libraries"
               data-event-label="https://guides.library.unt.edu/grants">
                <img class="lazyload"
                     width="75px"
                     height="76px"
                     src = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="/assets/images/branding/foundation-center.png"
                     alt="Funding Information Network"></a>
            <div class="media-body">The University Libraries are a
              <a href="https://guides.library.unt.edu/grants"
                 data-event-category="link - footer - text"
                 data-event-action="libraries"
                 data-event-label="https://guides.library.unt.edu/grants">Funding Information Network partner</a> of the Foundation Center.</div>
          </li>
        </ul>
      </div>

      <div class="footer__contact col-sm col-lg-3">
        <h2 class="sr-only">Mail</h2>
        <div class="box box-dark box-border"> <span>University Libraries</span><br>
          <span> <span>1155 Union Circle #305190</span><br>
          <span>Denton</span> , <span>TX</span> <span>76203-5017</span> </span>
        </div>

        <h2 class="sr-only">Contact</h2>
             <a id="footer-phone"
                class="d-inline-block my-2"
                data-event-category="link - footer - text"
                data-event-action="libraries"
                data-event-label="tel:9405652413"
                href="tel:9405652413">
                <i aria-hidden="true" class="text-white fas fa-phone fa-fw"></i>
                <span class="sr-only">Call: </span>940.565.2413</a>
             <a id="asks-us"
                class="d-inline-block my-2"
                data-event-category="link - footer - text"
                data-event-action="libraries"
                data-event-label="https://www.unt.edu/ask-us/"
                href="https://www.unt.edu/ask-us/">
                <i aria-hidden="true" class="text-white fas fa-envelope fa-fw"></i>
                <span class="sr-only">Ask us your </span>Research Questions</a>
             <a id="footer-staff-directory"
                class="d-inline-block my-2"
                data-event-category="link - footer - text"
                data-event-action="libraries"
                data-event-label="https://www.unt.edu/people/"
                href="https://www.unt.edu/people/">
                <i aria-hidden="true" class="text-white fas fa-users fa-fw"></i>
                <span class="sr-only">University Libraries </span>Staff Directory</a>
             <a id="footer-ask-tech"
                class="d-inline-block my-2"
                data-event-category="link - footer - text"
                data-event-action="libraries"
                data-event-label="mailto:lib.support@unt.edu"
                href="mailto:lib.support@unt.edu">
                <i aria-hidden="true" class="text-white fas fa-laptop fa-fw"></i>
                <span class="sr-only">Email to report </span>Computer &amp; Technology Problems</a>
             <a id="ask-building"
                class="d-inline-block my-2"
                data-event-category="link - footer - text"
                data-event-action="libraries"
                data-event-label="mailto:lib.facilities@unt.edu"
                href="mailto:lib.facilities@unt.edu">
                <i aria-hidden="true" class="text-white fas fa-exclamation-triangle fa-fw"></i>
                <span class="sr-only">Email to report </span>Facilities Problems</a>
      </div>
    </div>
  </div>
</div>
