{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
{% include 'keeper/head/_head.html' %}

<body class="html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-1810 node-type-page" >
  {% include 'keeper/header/_header.html' %}

    <!--[if (IE 8) | (IE 9)]>
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Support for Internet Explorer 8 &amp; 9 is limited. Please
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">update</a>
            or <a href="http://browsehappy.com/" target="blank">try an alternative browser</a> if possible.
        </div>
    <![endif]-->

    <!--[if lt IE 8]>
        <div class="alert alert-warning">
            <strong>Odd Display?</strong> You will likely have problems using this site because your version of
            Internet Explorer is extremely outdated. Please
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">update your browser</a>
            or <a href="http://browsehappy.com/" target="blank">try another</a> if possible.
        </div>
    <![endif]-->

    <div class="main-container container">

    <div id="site-content-region" class="row">
      <header class="page-header col-xs-12">
        <div class="hidden-print">
          <ol class="breadcrumb">
            <li class="first"><a href="https://www.library.unt.edu">Home</a></li>
            <li><a href="https://www.library.unt.edu/special-collections">Special Collections</a></li>
            <li class="active last">Keeper</li>
          </ol>
        </div>
        <h1>Keeper</h1>
      </header>

      <section class="col-sm-8 col-sm-push-4 panel-primary-content">
        <a id="main-content" name="main-content"></a>
        <div class="region region-content">
          {% block content %}{% endblock content %}
        </div>
      </section>

      <aside class="col-sm-4 col-sm-pull-8 panel-secondary-content hidden-print" role="complementary">
        <div class="region region-sidebar-first">
          <section id="block-menu-menu-special-collections" class="block block-menu clearfix">
            <!-- start editing content now -->
            <h2 class="block-title">Special Collections</h2>
            <ul class="menu nav">
                <li class="first leaf"><a href="https://www.library.unt.edu/special-collections" title="">Special Collections</a></li>
                <li class="leaf active-trail active"><a href="https://www.library.unt.edu/special-collections/our-collections" title="" class="active-trail active">Our Collections</a></li>
                <li class="leaf"><a href="https://www.library.unt.edu/services/special-collections/special-collections-research" title="">Research</a></li>
                <li class="leaf"><a href="https://www.library.unt.edu/special-collections/policies-forms" title="">Policies &amp; Forms</a></li>
                <li class="leaf"><a href="https://www.library.unt.edu/services/special-collections/special-collections-classroom-and-group-visits" title="">Classroom &amp; Group Visits</a></li>
                <li class="leaf"><a href="https://www.library.unt.edu/collections/special-collections/university-archive" title="">University Archive</a></li>
                <li class="leaf"><a href="https://www.library.unt.edu/microforms" title="">Microforms</a></li>
                <li class="leaf"><a href="https://www.library.unt.edu/preservation" title="">Preservation</a></li>
                <li class="last leaf"><a href="https://www.library.unt.edu/special-collections/keeper" title="">Keeper</a></li>
            </ul>
            <!-- end -->
          </section>
        </div>
      </aside>

    </div>
  </div><!-- end main-wrapper -->


  <div class="modal fade search-help" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

  {% include 'keeper/footer/_social.html' %}
  {% include 'keeper/footer/_footer.html' %}
  {% include 'keeper/footer/_colophon.html' %}
  {% block scripts_footer %}
    {% include 'keeper/footer/_scripts.html' %}
  {% endblock scripts_footer %}

</body>
</html>