<!DOCTYPE html>
<html lang="en" dir="ltr"
  xmlns:fb="http://ogp.me/ns/fb#"
  itemscope itemtype= "https://schema.org/"
  xmlns:og="http://ogp.me/ns#"
  xmlns:article="http://ogp.me/ns/article#"
  xmlns:book="http://ogp.me/ns/book#"
  xmlns:profile="http://ogp.me/ns/profile#"
  xmlns:video="http://ogp.me/ns/video#">

{% include 'keeper/head/_head.html' %}

<body class="html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-1810 node-type-page" >
  {% include 'keeper/header/_accessibility-skiplinks.html' %}
  {% include 'keeper/header/_header.html' %}

<div id="main-wrapper">
    <!--[if (IE 8) | (IE 9)]>
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Support for Internet Explorer 8 &amp; 9 is limited. Please
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">update</a>
            or <a href="http://browsehappy.com/" target="blank">try an alternative browser</a> if possible.
        </div>
    <![endif]-->

    <!--[if lt IE 8]>
        <div class="alert alert-warning">
            <strong>Odd Display?</strong> You will likely have problems using this site because your version of
            Internet Explorer is extremely outdated. Please
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">update your browser</a>
            or <a href="http://browsehappy.com/" target="blank">try another</a> if possible.
        </div>
    <![endif]-->

    <div class="main-container container">

    <div id="site-content-region" class="row">
      <header class="page-header col-xs-12">
        <div class="hidden-print">
          <ol class="breadcrumb">
            <li class="first"><a href="https://www.library.unt.edu">Home</a></li>
            <li><a href="https://www.library.unt.edu/special-collections">Special Collections</a></li>
            <li class="active last">Keeper</li>
          </ol>
        </div>
        <h1>Keeper</h1>
      </header>

      <section class="col-sm-8 col-sm-push-4 panel-primary-content">
        <a id="main-content" name="main-content"></a>
        <div class="region region-content">
          {% block content %}{% endblock content %}
        </div>
      </section>

      {% include 'keeper/sidebars/_left.html' %}

    </div>
  </div>

</div><!-- end main-wrapper -->

{% include 'keeper/footer/_footer.html' %}

<div class="modal fade search-help" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>

{% block scripts_footer %}
  {% include 'keeper/footer/_scripts.html' %}
{% endblock scripts_footer %}
</body>
</html>