{% extends 'keeper/www/default.html' %}

{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    {% include 'keeper/_form.html' %}

{% endblock content %}

{% block scripts_footer %}
  <script>
      {# accepted file types for dropzone #}
      window.acceptedFiles = {{ accepted_file_types|safe }};
      window.acceptedFileTypes = Object.keys(acceptedFiles).join(',');
  </script>

  <script src="{% static 'keeper/js/vendor/parsley.min.js' %}"></script>
  <script src="{% static 'keeper/js/scripts.min.js' %}"></script>

  <script>
  // Callback to hide error message after success
  function recaptcha_success() {
    const recaptchaEl = document.getElementById('grecaptcha-required');
    recaptchaEl.style.display = 'none';
  }

  // Callback function necessary to load and require reCaptcha.
  function onloadCallback() {
      grecaptcha.render('grecaptcha',
              {'sitekey': '6LfQFhETAAAAABopDQ0TfxRwDZ1_DYLzlPd61icH'}
      );
      const gRecaptchaResponse = document.getElementById('g-recaptcha-response');
      gRecaptchaResponse.dataset.parsleyRequired = 'true';
      gRecaptchaResponse.dataset.parsleyCaptchaValidation = 'true';
      gRecaptchaResponse.dataset.parsleyErrorMessage = 'Please confirm you are not a robot. Thanks.';
      gRecaptchaResponse.dataset.parsleyErrorsContainer = '#grecaptcha-required';

      $(gRecaptchaResponse).parsley({'required': 'true'});
  }
  </script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
{% endblock scripts_footer %}
